# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [3]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

In [25]:
#  1. Get the total rides for each city type
# Create the Urban city DataFrame.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
# Create the suburban city DataFrame.
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
# Create the rural city DataFrame
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count

city
Amandaburgh            18
Barajasview            22
Carriemouth            27
Christopherfurt        27
Deanville              19
                       ..
West Patrickchester    16
West Robert            31
West Samuelburgh       25
Williamsstad           23
Williamsview           20
Name: ride_id, Length: 66, dtype: int64

In [23]:
#  2. Get the total drivers for each city type
urban_driver_count = urban_cities_df.groupby(["city"]).sum()["driver_count"]
suburban_driver_count = suburban_cities_df.groupby(["city"]).sum()["driver_count"]
rural_driver_count = rural_cities_df.groupby(["city"]).sum()["driver_count"]
urban_driver_count

city
Amandaburgh             216
Barajasview             572
Carriemouth            1404
Christopherfurt        1107
Deanville               931
                       ...
West Patrickchester     400
West Robert            1209
West Samuelburgh       1825
Williamsstad           1357
Williamsview            920
Name: driver_count, Length: 66, dtype: int64

In [21]:
# 3. Get the total amount of fares for each city type
urban_fare_amt = urban_cities_df.groupby(["city"]).sum()["fare"]
suburban_fare_amt = suburban_cities_df.groupby(["city"]).sum()["fare"]
rural_fare_amt = rural_cities_df.groupby(["city"]).sum()["fare"]
urban_fare_amt

city
Amandaburgh            443.55
Barajasview            557.31
Carriemouth            764.49
Christopherfurt        661.55
Deanville              491.01
                        ...
West Patrickchester    451.73
West Robert            778.84
West Samuelburgh       544.19
Williamsstad           560.33
Williamsview           531.98
Name: fare, Length: 66, dtype: float64

In [24]:
#  4. Get the average fare per ride for each city type. 
urban_avg_fare = urban_cities_df.groupby(["city"]).mean()["fare"]
suburban_avg_fare = suburban_cities_df.groupby(["city"]).mean()["fare"]
rural_avg_fare = rural_cities_df.groupby(["city"]).mean()["fare"]
urban_avg_fare.head()

city
Amandaburgh        24.641667
Barajasview        25.332273
Carriemouth        28.314444
Christopherfurt    24.501852
Deanville          25.842632
Name: fare, dtype: float64

In [30]:
# 5. Get the average fare per driver for each city type. 
urban_avg_fare_per_driver = urban_cities_df.groupby(["city"]).sum()["fare"]/urban_cities_df.groupby(["city"]).sum()["driver_count"]
suburban_avg_fare_per_driver = suburban_cities_df.groupby(["city"]).sum()["fare"]/suburban_cities_df.groupby(["city"]).sum()["driver_count"]

rural_avg_fare_per_driver = rural_cities_df.groupby(["city"]).sum()["fare"]/rural_cities_df.groupby(["city"]).sum()["driver_count"]
rural_avg_fare_per_driver.head()

city
Bradshawfurt       5.723429
Garzaport          3.446190
Harringtonfort     8.367500
Jessicaport       36.013333
Lake Jamie         8.589583
dtype: float64

In [8]:
#  6. Create a PyBer summary DataFrame.

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')